In [4]:
import pandas as pd

# Load the dataset (make sure the path is correct)
df = pd.read_csv('lab1-datasets/employee_data.csv')
print("Initial Data:\n", df)

# Fill missing values
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace=True)

# Standardize department names
df['Department'] = df['Department'].replace({
    'Human Resources': 'HR',
    'H.R.': 'HR',
    'hr': 'HR'
})

# Remove duplicates
df.drop_duplicates(subset='ID', keep='first', inplace=True)
print("\nCleaned Data:\n", df)

Initial Data:
     ID     Name   Age       Department   Salary
0    1     John  28.0               HR  50000.0
1    2     Jane  35.0          Finance  60000.0
2    3    Emily   NaN               HR  55000.0
3    4  Michael  40.0  Human Resources      NaN
4    5    Sarah  29.0               IT  52000.0
5    6    David  50.0          Finance  75000.0
6    7    Laura  38.0             H.R.  68000.0
7    8   Robert  32.0               HR  57000.0
8    9    Linda  45.0               IT  62000.0
9   10    James  30.0               HR  51000.0
10  11    James  30.0               HR  51000.0

Cleaned Data:
     ID     Name   Age Department   Salary
0    1     John  28.0         HR  50000.0
1    2     Jane  35.0    Finance  60000.0
2    3    Emily  35.7         HR  55000.0
3    4  Michael  40.0         HR  58100.0
4    5    Sarah  29.0         IT  52000.0
5    6    David  50.0    Finance  75000.0
6    7    Laura  38.0         HR  68000.0
7    8   Robert  32.0         HR  57000.0
8    9    Linda  45.0         IT  62000.0
9   10    James  30.0         HR  51000.0
10  11    James  30.0         HR  51000.0